* {
  padding: 0;
  margin: 0;
}

.menuBar {
  padding: 0 2rem;
  height: 3rem;
  border-bottom: solid 2px #e8e8e8;
  box-shadow: 0 0 30px #f3f1f1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  font-weight: bold;
}
